body {
    background-color: rgb(0, 0, 0);
  }
  
  .title {
    color: #FFE807;
    text-align: center;
  }
  .row {
    text-align: start;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
  }
  
  .header {
    color: #FFE807;
    font-weight: bold;
    font-size: 14px;
    background-color: #121212 !important;
  }
  
  .row li {
    background-color: white;
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
  }
  
  .col-l {
    width: 70px;
  }
  
  .col-m {
    width: 220px;
  }
  
  .col-g {
    width: 250px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    height: 250px;
    width: 250px;
    text-align: center;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .card-title {
    color: #FFE807;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
  }
  
  .card-description {
    font-size: 14px;
    text-align: start;
    padding-left: 50px;
  }